:root {
    --grid-size: 1;
}

main {
    display: flex;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(var(--grid-size), 1fr);
    grid-template-rows: repeat(var(--grid-size), 1fr);
    grid-gap: 1px;

    width: 550px;
    background-color: black;
    border: 1px solid black;
}

.square {
    padding-bottom: 100%;
    background-color: white;
}

.controls, .slider {
    display: flex;
    flex-direction: column;
}

.controls {
    justify-content: space-around;
    align-items: flex-start;
}
