:root {
    --grid-size: 1;
}

main {
    display: flex;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(var(--grid-size), 1fr);
    grid-template-rows: repeat(var(--grid-size), 1fr);
    grid-gap: 1px;

    width: 700px;
    background-color: black;
    border: 1px solid black;
}

.square {
    height: calc(95vh / var(--grid-size));
    background-color: white;
}

button {
    height: 10%;
    margin-right: 10px;
}