:root {
    --grid-size: 1;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.grid {
    display: grid;
    grid-template-columns: repeat(var(--grid-size), 1fr);
    grid-template-rows: repeat(var(--grid-size), 1fr);

    width: 550px;
    cursor: crosshair;
}

.square {
    padding-bottom: 100%;
    background-color: white;
    outline: 1px solid black;
}

.controls, .slider {
    display: flex;
    flex-direction: column;
}

.controls {
    justify-content: space-around;
    align-items: flex-start;
    height: 100%;
}
